<div class="container col-6 my-4">
  <div [ngClass]="this.editar ? 'card border-warning' : 'card border-primary'">
    <div
      [ngClass]="
        this.editar ? 'card-header bg-warning' : 'card-header bg-primary'
      "
    >
      <h5 class="text text-center text-white">
        {{ this.editar ? "Editar Mascotas" : "Registrar Mascotas" }}
      </h5>
    </div>
    <div class="card-body">
      <form
        [formGroup]="formMasco.createMascotas"
        (ngSubmit)="registerAndUpdateMascotas(formMasco.createMascotas.value)"
      >
        <input
          [hidden]="true"
          type="text"
          formControlName="IdMascota"
          class="form-control"
        />
        <div class="row justify-content-center mx-auto my-2">
          <div class="col-5">
            <input
              [class.is-invalid]="
                formMasco.createMascotas.get('Nombre').touched &&
                formMasco.createMascotas.get('Nombre').invalid
              "
              type="text"
              class="form-control"
              formControlName="Nombre"
              [controlErrorsTpl]="messageError"
              placeholder="Nombre"
            />
          </div>
          <div class="col-5">
            <input
              [class.is-invalid]="
                formMasco.createMascotas.get('FechaNacimiento').touched &&
                formMasco.createMascotas.get('FechaNacimiento').invalid
              "
              type="date"
              class="form-control"
              formControlName="FechaNacimiento"
              [controlErrorsTpl]="messageError"
              placeholder="YYY-MM-DD"
            />
          </div>
        </div>
        <div class="row justify-content-center mx-auto my-2">
          <div class="col-5">
            <input
              [class.is-invalid]="
                formMasco.createMascotas.get('Edad').touched &&
                formMasco.createMascotas.get('Edad').invalid
              "
              type="text"
              class="form-control"
              formControlName="Edad"
              [controlErrorsTpl]="messageError"
              placeholder="Edad de la mascota"
            />
          </div>
          <div class="col-5">
            <input
              [class.is-invalid]="
                formMasco.createMascotas.get('Raza').touched &&
                formMasco.createMascotas.get('Raza').invalid
              "
              type="text"
              class="form-control"
              formControlName="Raza"
              [controlErrorsTpl]="messageError"
              placeholder="Raza"
            />
          </div>
        </div>
        <div class="row justify-content-center mx-auto my-2">
          <div class="col-5">
            <input
              [class.is-invalid]="
                formMasco.createMascotas.get('Color').touched &&
                formMasco.createMascotas.get('Color').invalid
              "
              type="text"
              class="form-control"
              formControlName="Color"
              [controlErrorsTpl]="messageError"
              placeholder="Color"
            />
          </div>
          <div class="col-5">
            <input
              [class.is-invalid]="
                formMasco.createMascotas.get('Peso').touched &&
                formMasco.createMascotas.get('Peso').invalid
              "
              type="text"
              class="form-control"
              formControlName="Peso"
              [controlErrorsTpl]="messageError"
              placeholder="Peso"
            />
          </div>
        </div>
        <div class="row justify-content-center mx-auto my-2">
          <div class="col-5">
            <input
              [class.is-invalid]="
                formMasco.createMascotas.get('Especie').touched &&
                formMasco.createMascotas.get('Especie').invalid
              "
              type="text"
              class="form-control"
              formControlName="Especie"
              [controlErrorsTpl]="messageError"
              placeholder="Especie"
            />
          </div>
          <div class="col-5 input-group">
            <input
              [class.is-invalid]="
                formMasco.createMascotas.get('IdUser').touched &&
                formMasco.createMascotas.get('IdUser').invalid
              "
              type="text"
              class="form-control"
              [attr.disabled]="true"
              formControlName="IdUser"
              [controlErrorsTpl]="messageError"
              placeholder="IdUser"
              arial-label="IdUser"
              aria-describedby="buscar-usuario"
            />
            <div class="input-group-prepend text-left">
              <button
                class="btn btn-info"
                type="button"
                id="buscar-usuario"
                data-toggle="modal"
                data-target="#ModalConsultUser"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mx-auto my-2">
          <div class="col-5 input-group">
            <input
              [class.is-invalid]="
                formMasco.createMascotas.get('IdVeterinario').touched &&
                formMasco.createMascotas.get('IdVeterinario').invalid
              "
              type="text"
              class="form-control"
              [attr.disabled]="true"
              formControlName="IdVeterinario"
              [controlErrorsTpl]="messageError"
              placeholder="IdVeterinario"
              arial-label="IdVeterinario"
              aria-describedby="buscar-veterinario"
            />
            <div class="input-group-prepend text-left">
              <button
                class="btn btn-info"
                type="button"
                id="buscar-veterinario"
                data-toggle="modal"
                data-target="#ModalConsultVeterinario"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <div class="col-5 input-group">
            <input
              [class.is-invalid]="
                formMasco.createMascotas.get('IdHistorial').touched &&
                formMasco.createMascotas.get('IdHistorial').invalid
              "
              type="text"
              class="form-control"
              formControlName="IdHistorial"
              [attr.disabled]="true"
              [controlErrorsTpl]="messageError"
              placeholder="IdHistorial"
              arial-label="IdHistorial"
              aria-describedby="buscar-historial"
            />
            <div class="input-group-prepend text-left">
              <button
                class="btn btn-info"
                type="button"
                id="buscar-Historial"
                data-toggle="modal"
                data-target="#ModalConsultHistorial"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row my-3 col-9 mx-auto">
          <div class="col-4 justify-content-center mx-auto">
            <button
              [disabled]="formMasco.createMascotas.invalid"
              class="btn"
              [appEstadoMascotas]="this.editar"
              type="submit"
            ></button>
          </div>
          <div class="col-4 justify-content-center mx-auto">
            <button
              type="reset"
              (click)="limpiarFormulario()"
              class="btn btn-outline-primary btn-block shadow rounded"
            >
              <i class="fas fa-eraser"></i>
              Limpiar
            </button>
          </div>
          <div class="col-4 justify-content-center mx-auto">
            <button
              type="button"
              class="btn btn-outline-secondary btn-block shadow rounded"
              (click)="volverAlModulo()"
            >
              <i class="fas fa-undo-alt"></i>Volver
            </button>
          </div>
        </div>
      </form>
      <!---   MENSAJES DE ERRORES   -->
      <ng-template let-error let-text="text" #messageError>
        <i *ngIf="error?.minlength" class="text-danger">
          <b>Error: </b> No cumples con los caracteres minimos que son
          {{ error?.minlength?.requiredLength }}, ingresastes solo
          {{ error?.minlength?.actualLength }}</i
        >
      </ng-template>
      <!------>
    </div>
  </div>
</div>
<app-list-usuarios (idUserModal)="obtenerIdUser($event)"></app-list-usuarios>
<!----VETERINARIO-->
<app-list-mascotas-veterinario
  (idVeterinarioModal)="obtenerIdVeterinario($event)"
></app-list-mascotas-veterinario>
<!----HISTORIAL-->
<app-list-mascotas-historial
  (idHistorialModal)="obtenerIdHistorial($event)"
></app-list-mascotas-historial>
