<!-- Modal -->
<div
  class="modal fade"
  id="ModalClientHistory"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ModalClientHistorylLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalClientHistorylLabel">Historial</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngFor="let historia of allHistorial">
          <p>Diagnostico: {{historia.Diagnostico}}</p>
          <p>Descripcion: {{historia.Descripcion}}</p>
          <p>Fecha: {{historia.Fecha}}</p>
          <p>Motivo: {{historia.Motivo}}</p>
          <p>Sintomas: {{historia.Sintomas}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
