<nav
  class="navbar navbar-expand-lg navbar-light fixed-top"
  style="background-color: #9c27b0"
>
  <div class="container-fluid">
    <a class="navbar-brand text-white" [routerLink]="['/']">VeteriSystem</a>
    <button
      class="navbar-toggler text-white"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-item nav-link active text-white"
          [routerLink]="['/']"
          routerLinkActive="active"
          ><i class="fas fa-home mx-1"></i>Inicio</a
        >
        <a
          class="nav-item nav-link text-white"
          [routerLink]="['/Nosotros']"
          routerLinkActive="active"
          ><i class="fas fa-users mx-1"></i>Nosotros</a
        >
        <a
          class="nav-item nav-link text-white"
          [routerLink]="['/Servicios']"
          routerLinkActive="active"
          ><i class="far fa-handshake mx-1"></i>Servicios</a
        >
      </div>
      <ul class="navbar-nav ml-auto" *ngIf="!isLogge; else viewLogout">
        <li class="nav-item">
          <a
            class="nav-link text-white"
            [routerLink]="['/Usuarios/Registrar-Personas']"
            routerLinkActive="active"
            ><i class="fas fa-user-plus mx-1"></i>Registrarse</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            [routerLink]="['/Usuarios/auth/Login-Users']"
            routerLinkActive="active"
          >
            <i class="fas fa-sign-in-alt mx-1"></i>Iniciar Sesion</a
          >
        </li>
      </ul>
      <ng-template #viewLogout>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a
              class="nav-link text-white"
              (click)="cerrarSesion()"
              [routerLink]="['/Usuarios/auth/Login-Users']"
            >
              <i class="fas fa-sign-in-alt mx-1"></i>Cerrar Sesion</a
            >
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
