<br><br>
<div class="container">
  <div class="row">
    <div class="col-4 mx-auto justify-content-center my-2">
      <form [formGroup]="formBaseUser.formUser" (ngSubmit)="registrarUser()">
        <div class="mb-3 text-center text-primary">
          <i class="fas fa-user-circle fa-6x"></i>
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-group"
            formControlName="IdUser"
            [hidden]="true"
          />
        </div>
        <div class="mb-3 input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="text-email"
              ><i class="fas fa-at"></i
            ></span>
          </div>
          <input
            [class.is-invalid]="
              formBaseUser.formUser.get('email').touched &&
              formBaseUser.formUser.get('email').invalid
            "
            type="email"
            class="form-control"
            formControlName="email"
            [controlErrorsTpl]="messageError"
            placeholder="Email"
            arial-label="email"
            aria-describedby="text-email"
          />
        </div>

        <div class="mb-3 input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="text-Usuario"
              ><i class="fas fa-user"></i
            ></span>
          </div>
          <input
            [class.is-invalid]="
              formBaseUser.formUser.get('username').touched &&
              formBaseUser.formUser.get('username').invalid
            "
            type="text"
            class="form-control"
            formControlName="username"
            [controlErrorsTpl]="messageError"
            placeholder="Usuario"
            arial-label="username"
            aria-describedby="text-Usuario"
          />
        </div>
        <div class="mb-3 input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="text-Contrasena"
              ><i class="fas fa-lock"></i
            ></span>
          </div>
          <input
            [class.is-invalid]="
              formBaseUser.formUser.get('password').touched &&
              formBaseUser.formUser.get('password').invalid
            "
            type="password"
            class="form-control"
            formControlName="password"
            [controlErrorsTpl]="messageError"
            placeholder="Contraseña"
            arial-label="password"
            aria-describedby="text-password"
          />
        </div>
        <div class="mb-3 input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="text-Contrasena"
              ><i class="fas fa-lock"></i
            ></span>
          </div>
          <input
            [class.is-invalid]="
              formBaseUser.formUser.get('verifyPassword').touched &&
              formBaseUser.formUser.get('verifyPassword').invalid
            "
            type="password"
            class="form-control"
            formControlName="verifyPassword"
            [controlErrorsTpl]="messageError"
            placeholder="Repita la contraseña"
            arial-label="verifyPassword"
            aria-describedby="text-password"
          />
        </div>
        <div class="mb-3 input-group">
          <input
            [class.is-invalid]="
              formBaseUser.formUser.get('IdPersona').touched &&
              formBaseUser.formUser.get('IdPersona').invalid
            "
            type="text"
            [hidden]="true"
            class="form-control"
            formControlName="IdPersona"
            [controlErrorsTpl]="messageError"
            placeholder="IdPersona"
            arial-label="IdPersona"
            aria-describedby="text-IdPersona"
          />
        </div>
        <div>
          <button
            class="btn btn-outline-primary btn-block my-2"
            type="submit"
            [disabled]="formBaseUser.formUser.invalid"
          >
            Registrar
          </button>
        </div>
      </form>
      <!---   MENSAJES DE ERRORES   -->
      <ng-template let-error let-text="text" #messageError>
        <i *ngIf="error?.minlength" class="text" style="color: #ef5350">
          <b>Error: </b> No cumples con los caracteres minimos que son
          {{ error?.minlength?.requiredLength }}, ingresastes solo
          {{ error?.minlength?.actualLength }}</i
        >
      </ng-template>
      <!------>
    </div>
  </div>
</div>
<br><br>