<!-- Modal FORMULARIO -->
<div
  class="modal fade"
  id="ModalPersonas"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ModalPersonaLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div
        [ngClass]="
          this.editarPersona
            ? 'modal-header bg-warning text-white text text-center'
            : 'modal-header bg-success text-white text text-center'
        "
      >
        <h5 class="modal-title" id="ModalPersonaLabel">
          {{ this.editarPersona ? "Editar Persona" : "Registrar Persona" }}
        </h5>
        <button
          type="button"
          class="close text-white"
          data-dismiss="modal"
          aria-label="Close"
          (click)="volverAlModulo()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="baseFormPerson.formPersona"
          (ngSubmit)="registerAndEditFormulario()"
          errorTailor
        >
          <div class="mb-3">
            <input
              [hidden]="true"
              type="text"
              formControlName="IdPersona"
              class="form-control"
            />
          </div>
          <div class="mb-3 input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="text-Usuario"
                ><i class="fas fa-user"></i
              ></span>
            </div>
            <input
              [class.is-invalid]="
                baseFormPerson.formPersona.get('Nombre').touched &&
                baseFormPerson.formPersona.get('Nombre').invalid
              "
              type="text"
              class="form-control"
              formControlName="Nombre"
              [controlErrorsTpl]="messageError"
              placeholder="Nombre"
            />
          </div>
          <div class="mb-3 input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="text-Usuario"
                ><i class="fas fa-user"></i
              ></span>
            </div>
            <input
              [class.is-invalid]="
                baseFormPerson.formPersona.get('Apellido').touched &&
                baseFormPerson.formPersona.get('Apellido').invalid
              "
              type="text"
              class="form-control"
              formControlName="Apellido"
              [controlErrorsTpl]="messageError"
              placeholder="Apellido"
            />
          </div>
          <div class="mb-3 input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="text-Usuario"
                ><i class="fas fa-id-card"></i
              ></span>
            </div>
            <input
              [class.is-invalid]="
                baseFormPerson.formPersona.get('Cedula').touched &&
                baseFormPerson.formPersona.get('Cedula').invalid
              "
              type="text"
              class="form-control"
              formControlName="Cedula"
              [controlErrorsTpl]="messageError"
              placeholder="Cedula"
            />
          </div>
          <div class="mb-3 input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="text-Usuario"
                ><i class="fas fa-phone-square-alt"></i
              ></span>
            </div>
            <input
              [class.is-invalid]="
                baseFormPerson.formPersona.get('Telefono').touched &&
                baseFormPerson.formPersona.get('Telefono').invalid
              "
              type="text"
              class="form-control"
              formControlName="Telefono"
              [controlErrorsTpl]="messageError"
              placeholder="Telefono"
            />
          </div>
          <div class="mb-3 input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="text-Usuario"
                ><i class="fas fa-house-user"></i
              ></span>
            </div>
            <input
              [class.is-invalid]="
                baseFormPerson.formPersona.get('Direccion').touched &&
                baseFormPerson.formPersona.get('Direccion').invalid
              "
              type="text"
              class="form-control"
              formControlName="Direccion"
              [controlErrorsTpl]="messageError"
              placeholder="Direccion"
            />
          </div>
          <div class="modal-footer">
            <button
              [disabled]="baseFormPerson.formPersona.invalid"
              class="btn"
              type="submit"
              [appEstado]="this.editarPersona"
            ></button>
            <button
              type="reset"
              class="btn btn-outline-info"
              tittle="Limpiar"
              (click)="baseFormPerson.limpiarFormulario()"
            >
              <i class="fas fa-eraser"></i>
              Limpiar
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary"
              data-dismiss="modal"
              (click)="volverAlModulo()"
            >
              <i class="fas fa-times"></i>
              Cerrar
            </button>
          </div>
        </form>
        <!---   MENSAJES DE ERRORES   -->
        <ng-template let-error let-text="text" #messageError>
          <i *ngIf="error?.minlength" class="text-danger">
            <b>Error: </b> No cumples con los caracteres minimos que son
            {{ error?.minlength?.requiredLength }}, ingresastes solo
            {{ error?.minlength?.actualLength }}</i
          >
        </ng-template>
        <!------>
      </div>
    </div>
  </div>
</div>
