<!-- Modal -->
<div
  class="modal fade bd-example-modal-lg"
  id="ModalConsultHistorial"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ModalConsultHistorialLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="ModalConsultHistorialLabel">
          Consulta de Historial
        </h5>
        <button
          type="button"
          class="close text-white"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col">IdHistorial</th>
              <th scope="col">Fecha</th>
              <th scope="col">Motivo</th>
              <th scope="col">Diagnostico</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let historial of allHistorial"
              (click)="obtenerIdHistorial(historial.IdHistorial)"
              data-dismiss="modal"
            >
              <th>{{ historial.IdHistorial }}</th>
              <th ng-controller="ctrlFecha">
                {{ historial.Fecha | date: "yyyy-MM-dd" }}
              </th>
              <th>{{ historial.Motivo }}</th>
              <th>{{ historial.Diagnostico }}</th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-danger"
          data-dismiss="modal"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
