<div class="container-fluid py-5 mt-4" style="background: #ce93d8">
  <div class="row">
    <div class="col-sm-3 my-3">
      <div class="card text-white h-100 my-4" style="background: #ba68c8">
        <div class="card-title text-center py-2">
          <i class="fas fa-paw fa-3x"></i>
        </div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
            dolorem est asperiores quibusdam possimus laborum! Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Asperiores, quod.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 my-3">
      <div class="card text-white h-100 my-4" style="background: #ab47bc">
        <div class="card-title text-center py-2">
          <i class="fas fa-dog fa-3x"></i>
        </div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti
            accusantium, accusamus totam magnam pariatur itaque. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Asperiores, quod.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 my-3">
      <div class="card text-white h-100 my-4" style="background: #9c27b0">
        <div class="card-title text-center py-2">
          <i class="fas fa-cat fa-3x"></i>
        </div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
            quis error perferendis odio sed sint! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Asperiores, quod.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 my-3">
      <div class="card text-white h-100 my-4" style="background: #8e24aa">
        <div class="card-title text-center py-2">
          <i class="fas fa-dove fa-3x"></i>
        </div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui
            reiciendis, earum optio hic eligendi odit. Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Asperiores, quod.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background: #9c27b0">
  <h1 class="text text-center text-white">Lorem ipsum dolor sit.</h1>
  <div class="row align-self-center mx-auto">
    <div class="col-sm-4 my-5 text-white text-center">
      <i
        data-toggle="collapse"
        href="#collapseExample"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
        class="fas fa-notes-medical fa-5x icons-hover"
      ></i>
      <div class="collapse" id="collapseExample">
        <div class="card card-body h-100 card-collapse py-4 my-2">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer
          labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
    <div class="col-sm-4 my-5 text-white text-center">
      <i
        data-toggle="collapse"
        href="#collapseExample1"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample1"
        class="fas fa-user-md fa-5x icons-hover"
      ></i>
      <div class="collapse" id="collapseExample1">
        <div class="card card-body h-100 card-collapse py-4 my-2">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer
          labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
    <div class="col-sm-4 my-5 text-white text-center">
      <i
        data-toggle="collapse"
        href="#collapseExample2"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample2"
        class="fas fa-syringe fa-5x icons-hover"
      ></i>
      <div class="collapse" id="collapseExample2">
        <div class="card card-body h-100 card-collapse py-4 my-2">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer
          labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
  </div>
</div>
